{% extends "base.html" %}
{% block title %}Admin Page{% endblock %}

{% block style %}
  
<style>
  .flash{
  display: flex;
  justify-content: space-between;
}
.flash button{
  border: none;
  color: black;
  background-color: rgba(226, 19, 140, 0)
}
.flash button:hover{
  border: none;
  color: red;

}
</style>
{% endblock style %}
{% block nav %}
<a class="nav-link" href="{{url_for("Userlogout")}}">Logout</a>       
{% endblock nav %}
{% block body%}




    
    <div class="container">
        <h3 class="bg-secondary text-center h-75 p-3 m-3">User Page</h3>
     </div>
     <div class="container my-3">
      <h3> Encrypted Files</h3>
      {% if allres|length==0 %}
      <div class="alert alert-dark" role="alert">
         No File is addes till now!
      </div>
     {% else %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
           {% for res in allres %}
                 <tr>
                     <th scope="row">{{loop.index}}</th>
                     <td>{{res.1}}</td>
                     <td>{{res.5}}</td>
                     <td>
                    
                     {% if id == res.0 %}
                     <a href="/download/{{res.0}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Click to download</a>
                     {% else %}
                     <a href="/KeySend/{{res.0}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Download</a>
                     {% endif %}
                    </td>
                   </tr>
                 {% endfor %}
                 {% endif %}
             
                 
           
              </tbody>
        </table>
  </div>
    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


   
{% endblock %}